<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="../static/style.css">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel='stylesheet' type='text/css'>
</head>

<body>
<h1>Maze Demo</h1>
<img src="../static/maze.jpg" alt="mazegame.jpg" class="image" />
<h1>Highscores</h1>

<div class="scoreboard">
    <div class="score"><b>Name</b></div>
    <div class="score"><b>Score</b></div>
    <div class="score"><b>Date/Time</b></div>
    {% for line in var %}
        {% for key in line %}
            <div class="score">{{ line[key] }}</div>
        {% endfor %}
    {% endfor %}
</div>
</body>

</html>
